#include <stdio.h>
#include <stdlib.h>
#include <conio.h>

int main() {
    int numberToGuess, guess, attempts = 0;
    char playAgain;

    do {
        // Generar un número aleatorio entre 1 y 100
        srand(time(NULL));
        numberToGuess = rand() % 100 + 1;

        printf("Adivina el numero secreto (entre 1 y 100).\n");

        do {
            printf("Ingresa tu intento: ");
            scanf("%d", &guess);

            attempts++;

            if (guess > numberToGuess) {
                printf("Demasiado alto. Intenta nuevamente.\n");
            } else if (guess < numberToGuess) {
                printf("Demasiado bajo. Intenta nuevamente.\n");
            } else {
                printf("¡Felicidades! Adivinaste el numero en %d intentos.\n", attempts);
            }
        } while (guess != numberToGuess);

        printf("¿Quieres jugar otra vez? (s/n): ");
        scanf(" %c", &playAgain);

        attempts = 0;
    } while (playAgain == 's' || playAgain == 'S');

    printf("Muy bien has ganado! soy nahuel y espero que te haya gustado\n");

    return 0;
}
